h1{
    
    text-align: center;
    font-family: Pacifico,cursive;
    padding: 100px 0 0 0;
    
}

h2,h3{
  text-align: center;
    font-family: Pacifico,cursive;
    
}

h3{
    padding-bottom: 100px;
}

